<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
		<img src="https://pearsproject.org/images/NGI.png" width="300"/> 
        </div>
	<div>Funded by the European Union. Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union or European Commission. Neither the European Union nor the granting authority can be held responsible for them. Funded within the framework of the NGI Search project under grant agreement No101069364. </div>
      </div>
    </div>
  </div>
</div>
