.Layout__Sidebar  {
  margin: 4% 4%;
  box-sizing: border-box;
  text-align: right;
}

.Layout__Content  {
  margin-left: 50px;
  margin-right: 50px;
  padding: 60px 0;
  box-sizing: border-box;
}

.Layout__Download  {
  width: auto;
  margin-left: 325px;
  padding: 60px 0;
  box-sizing: border-box;
}

.HeaderTitle {
  color: #d3d3d3;
}

.Header {
  background-color: black;
  padding: 50px;
  margin-bottom: 20px;
}

.Gap--45 {
  margin-top: 45px;
}
